
.afficher{
    
    margin-left: 3%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
   

}
.name{
  
}
.user_link{
    font-size: 2.6vh;
    margin-right: 5%;
}
div .user_link{
    text-decoration: none;
}
.item{
    margin-bottom: 2%;
    font-size: 2.6vh;
}
.item a{
    text-decoration: none;
}
.modifier{
    margin-left: 7%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}